<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div style="width: 100%;">
    <div class="container" style="width: 500px; height: 100px; justify-content: center; align-items: center; margin-top: 10%;">
        <h1>Login</h1>
        <p>Ingresa tus credenciales</p>
        <form action="/usuario/login"
              method="POST"
        >
            <div class="form-group">
                <label for="usernameID">
                    Usuario
                </label>
                <input id="usernameID"
                       type="text"
                       name="username"
                       class="form-control"
                       placeholder="usuario"
                       title="Usuario">
                <small id="usernameIDHelp"
                       class="form-text text-muted">
                    Ingresa tu usuario
                </small>
            </div>
    
            <div class="form-group">
                <label for="passwordID">
                    Contraseña
                </label>
                <input id="passwordID"
                       type="password"
                       name="password"
                       class="form-control"
                       placeholder="******"
                       title="Ingresar Password">
                <small id="passwordIDHelp"
                       class="form-text text-muted">
                    Ingresa la contraseña
                </small>
            </div>
    
            <button type="submit"
                    class="btn btn-success">
                Ingresar
            </button>
        </form>
    </div>
    
</div>
